<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsc.hotspot.db.dao.ext.CameraCatInfoEXTMapper">
    <delete id="deleteById">
        DELETE  From camera_cat_info WHERE id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <select id="selectCount" resultType="java.util.Map">
        select count(*) AS num,capture_time
        from camera_cat_info
        <where>
            date(capture_time) in
            <foreach collection="list" item="capture_time" index="index" open="(" close=")" separator=",">
                date(#{capture_time})
            </foreach>
        </where>
        GROUP BY date(create_time)
    </select>
</mapper>