<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsc.hotspot.db.dao.ext.CameraCatInfoEXTMapper">
    <delete id="deleteById">
        DELETE  From camera_cat_info WHERE id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <select id="selectCount" resultType="java.util.Map">
        select count(*) AS num,date(capture_time) as capture_time2
        from camera_cat_info
        <where>
            capture_time
            BETWEEN #{startTime} AND #{endTime}
        </where>
        GROUP BY capture_time2
    </select>

<!--    <select id="countByDay" resultMap="java.util.Map">-->
<!--        SELECT date(capture_time) t,count(distinct imsi) counts-->
<!--        from camera_cat_info-->
<!--        WHERE capture_time between (#{capture_time} - 15) and #{capture_time}-->
<!--        group BY t-->
<!--    </select>-->

<!--    <select id="countByMonth" resultMap="java.util.Map">-->
<!--        SELECT month(capture_time) t,count(distinct imsi) counts-->
<!--        from camera_cat_info-->
<!--        WHERE capture_time between (#{capture_time} - 30) and #{capture_time}-->
<!--        group BY t-->
<!--    </select>-->
</mapper>